// As definições do tema da aplicação estão centralizadas nesse conjunto de
// variáveis que são consumidas pelos componentes.

primary-color = #ff4081
secondary-color = #ff5722
neutral-color = #e0e0e0
