// Classes de transições do Vue Transitions.

.open-enter-active
.open-leave-active
  transition: transform 500ms ease,
              opacity 500ms ease

.open-enter
  transform: translateY(-50%) scaleY(0)
  opacity: 0

.open-leave-to
  transform: translateY(-50%) scaleY(0)
  opacity: 0
