// Faço reset das propriedades predefinidas pelo browser nas Tags que uso no
// aplicativo.

html
body
  height: 100%

body
ol, ul
p
  margin: 0

button
input
ol, ul
  padding: 0

ol, ul
  list-style: none

button
  border: none
  background-image: none
  background-color: transparent

button:focus
input:focus
  outline: none
  box-shadow: none

input
  border: none

input[type="number"]
  -moz-appearance: textfield

  &::-webkit-outer-spin-button
  &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0
